* {
    box-sizing: border-box;
}

.navigation-sub {
    background-color: rgba(0, 134, 134, 0.52);
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    top: 0px;
    display: block;
    position: fixed;
}

#header-img {
    box-sizing: border-box;
    position: absolute;
    z-index: -1;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    display: block;
    border: 2px solid black;
    /* margin-block-end: 207px; */
    /* margin: 150px; */
    
}

#portfolio{
    box-sizing: border-box;
    text-align: center;
    font-size: 48px;
    margin-top: 250px;
    color: rgb(12, 27, 71);
    display: block;
    /* margin-block-end: 607px; */
}

.menu {
    box-sizing: border-box;
    position: absolute;
    text-align: center;
    display: block;
    z-index: -1;
    /* margin-block-start: 607px; */
    /* margin-top: 200px; */
}

.item{
    color: black;
    font-size: 2.5ch;
    margin-left: 90px;
}

.item:hover {
    color: rgb(0, 18, 98);
}
#nav_item{
    box-sizing: border-box;
    /* color: white; */
    list-style-type: none;
}

li:hover:not(.li) {
    font-size: 2ch;
    color: black;
}

a:link {
    text-decoration: none;
    text-align: center;
  }

img {
    text-align: center;
    float: left;
    width: 180px;
    z-index: -1;
}
